body{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#display{
    font-family: monospace;
    font-size: 2rem;
}
.stopwatch{
    text-align: center;
    border: 1px solid none;
    width: 25em;
    height: 15em;
    background-color:rgb(155, 133, 152);
    border-radius: 20px;
    box-shadow: 4px 4px 4px black   ;
}
#start{
    background-color:green ;
    padding: 5px;
    border-radius: 10px;
    width: 80px;
    color: white;
    font-weight: bold;
}
#start:hover{
    background-color:rgb(9, 65, 9) ;
}
#reset{
    background-color:blue ;
    padding: 5px;
    border-radius: 10px;
    width: 80px;
    color: white;
    font-weight: bold;
}
#reset:hover{
    background-color:rgb(11, 11, 76) ;
}
#stop{
    background-color:red ;
    padding: 5px;
    border-radius: 10px;
    width: 80px;
    color: white;
    font-weight: bold;
}
#stop:hover{
    background-color:rgb(97, 15, 15) ;
}


